{% extends 'admin_panel.html' %}

{% block title %}
    Добавление специальности
{% endblock %}

{% block content %}
    <div class="form-container">
        <h2>Добавить специальность</h2>
        <form method="post" class="form">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.name.id_for_label }}" class="form-label">Название специальности:</label>
                {{ form.name }}
            </div>
            <div class="form-group">
                <label for="{{ form.code.id_for_label }}" class="form-label">Код специальности:</label>
                {{ form.code }}
            </div>
            <button type="submit" class="button-primary">Добавить</button>
        </form>
        <div id="credentialsOutput" class="message-container">
            {% if messages %}
                {% for message in messages %}
                    <div class="message{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}