{% extends 'admin_panel.html' %}

{% block title %}
    Добавление группы
{% endblock %}

{% block content %}
    <div class="form-container">
        <h2>Добавить группу</h2>
        {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                    <div class="message{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        <form method="post" class="form">
            {% csrf_token %}
            <div class="form-group">
                <label for="specialty" class="form-label">Выберите специальность:</label>
                <select id="specialty" name="specialty" class="form-select">
                    {% for specialty in specialties %}
                        <option value="{{ specialty.id }}">{{ specialty.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="name" class="form-label">Название группы:</label>
                <input type="text" id="name" name="name" class="form-input">
            </div>
            <button type="submit" class="button-primary">Добавить</button>
        </form>
    </div>
{% endblock %}
