{% extends 'admin_panel.html' %}

{% block title %}
    Добавление преподавателя
{% endblock %}

{% block content %}
    <div class="admin-panel">
        <h2>Добавить преподавателя</h2>
        <form method="post" class="form">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.first_name.id_for_label }}">Имя:</label>
                {{ form.first_name }}
            </div>
            <div class="form-group">
                <label for="{{ form.last_name.id_for_label }}">Фамилия:</label>
                {{ form.last_name }}
            </div>
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Электронная почта:</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                <label for="{{ form.disciplines.id_for_label }}">Дисциплины:</label>
                {{ form.disciplines }}
            </div>
            <button type="submit" class="button-primary">Добавить</button>
        </form>
        <div id="credentialsOutput" class="output">
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
