{% extends 'admin_panel.html' %}

{% block title %}
    Создание журнала
{% endblock %}

{% block content %}
    <style>
        /* Стили для формы */
        .container {
            margin: 20px;
        }

        .container h1 {
            text-align: center;
        }

        .container form {
            margin-top: 20px;
        }

        .container form label {
            display: block;
            margin-bottom: 10px;
        }

        .container form input[type="text"],
        .container form input[type="number"] {
            margin-top: 10px;
            padding: 8px;
            width: 100%;
            box-sizing: border-box;
        }

        .container form select {
            margin-top: 10px;
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }

        .container form button[type="submit"] {
            margin-top: 10px;
            background-color: #007bff;
            color: #fff;
            padding: 12px 24px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
        }
    </style>

<div class="container">
    <h1>Создание журнала</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="discipline">Наименование дисциплины:</label>
            <input type="text" name="discipline" id="discipline">
        </div>
        <div class="form-group">
            <label for="group">Выберите группу:</label>
            <select name="group" id="group">
                {% for group in groups %}
                    <option value="{{ group.id }}">{{ group.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="day">День:</label>
            <input type="number" name="day" id="day" min="1" max="31">
        </div>
        <div class="form-group">
            <label for="month">Месяц:</label>
            <input type="number" name="month" id="month" min="1" max="12">
        </div>
        <button type="submit" class="btn btn-primary" formaction="{% url 'preview_journal' %}">Создать журнал</button>
    </form>
</div>
{% endblock %}