{% extends 'base.html' %}

{% block title %}
    Вход - Electronic Journal
{% endblock %}

{% block content %}
    <style>
    /* Добавляем стили для формы входа */
    .login-form-container {
        max-width: 400px;
        margin: 50px auto; /* Увеличен верхний отступ для размещения по центру */
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        overflow-y: auto; /* Добавлен скроллинг */
        height: 400px; /* Ограничение высоты формы для скроллинга */
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
    }

    .form-control {
        width: calc(100% - 22px); /* Уменьшаем ширину на 22 пикселя, чтобы соответствовать стилю формы регистрации */
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .btn-primary {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }

    /* Стили для плашки с контактной информацией */
    .contact-info {
        background-color: #0173b3; /* Голубой цвет фона */
        color: #fff; /* Белый цвет текста */
        padding: 10px; /* Уменьшено количество отступов */
        text-align: center;
        margin-top: 20px; /* Добавлен верхний отступ */
        font-size: 14px; /* Уменьшен размер шрифта */
    }

    /* Скрыть ненужные ссылки */
    nav {
        display: none;
    }

    /* Уменьшаем размер подвала */
    footer {
        font-size: 14px; /* Уменьшаем размер шрифта */
    }

    /* Стили для забытого пароля */
    .forgot-password {
        text-align: center;
        margin-top: 10px; /* Добавлен верхний отступ */
    }

    .forgot-password a {
        color: #0173b3; /* Цвет ссылки */
        text-decoration: none; /* Убираем подчеркивание */
    }

    .forgot-password a:hover {
        text-decoration: underline; /* Добавляем подчеркивание при наведении */
    }
    </style>

<div class="login-form-container">
    <h2>Вход</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Логин:</label>
            <input type="text" id="username" name="username" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" class="form-control" required>
            <div class="forgot-password">
                <a>Забыли пароль?</a>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>
</div>

<div class="contact-info">
    <h2>Контактная информация</h2>
    <p>Телефон: +123456789</p>
    <p>Email: info@example.com</p>
    <p>Адрес: г. Новосибирск, ул. Красный проспект, д. 72</p>
</div>

{% endblock %}